body {
  font-family: sans-serif;
  width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

.chart-container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.infobox {
  position: absolute;
  top: 27%;
  right: 3%;
  height: 63%;
  width: 60%;
  overflow-y: scroll;
}

.legend {
  width: 85%;
  height: 80px;
  margin: 0 auto;
}


.legend__items {
  display: flex;
  justify-content: center;
  font-size: .5rem;
  margin: 0 auto;
}

.legend__items div {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 2px;
  border-radius: 2px;
}

.legend-powergap {
  display: none;
  opacity: 0;
}

.legend-powergap .legend__items div {
  flex: 1;
}

.legend-powergap .legend__labels {
  font-size: .7rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.controls {
  display: flex;
  justify-content: space-evenly;

}

.tooltip {
  position: absolute;
  height: 100px;
  width: 200px;
  background-color: gray;
}

.bar:hover {
  cursor: pointer;
}