body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

.chart-container {
  /* height: 800px;
  width: 800px; */
}

.legend, .powergap-legend {
  width: 85%;
  margin: 0 auto;
}


.legend-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: .5rem;
  margin: 0 auto;
}

.legend-items div {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.legend .legend-items div {
  margin: 2px;
  border-radius: 2px;
}

.powergap-legend .legend-items div {
  flex: 1;
}

.powergap-legend .legend-labels {
  font-size: .7rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.controls {
  display: flex;
  justify-content: space-evenly;

}

.tooltip {
  position: absolute;
  height: 100px;
  width: 200px;
  background-color: gray;
}

.bar:hover {
  cursor: pointer;
}